/*--- footer styling ---*/
@import url(footer.css);

* {
	margin: 0px;
	padding: 0px;
}

body {
	min-width: 1000px;
}

/* -- header styling -- */

header {
	background-image: url(https://images.unsplash.com/uploads/1411040661312f50ec8e2/ded9d54e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9242bb2c1fcb8cb5eaa325b2652b12b2);
	background-size: cover;
	height: 500px;
}

nav ul {
	float: right;	
	margin-right: 20px;
}

nav li {
	display: inline-block;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size: 28px;
	color: #FFF;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 2px 2px black;
}

h1.slogan {
	position: relative;
	top: 100px;
	text-align: center;	
	color: #EEE;
	text-shadow: 2px 2px black;
	font-weight: lighter;
	font-size: 60px;
	font-family: "Norican", script, serif;
}

p#motto {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size: 80px;
	color: #CCC;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;	
}

img.logo {
	width: 150px; 
	opacity: 0.8;
	position: relative;
	bottom: 60px;	
}

.clear {
	clear: right;
}

.red {
	color: #d3113a;
}

.shadow {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.right {
	float: right;
}

/* --- end of header styling --- */

/* --- content styling ---*/
/* --- note that <div class="content"> is now just <article> ---*/

article {
	width: 900px;
	height: 600px;
	text-align: center;
	margin: auto;
}

ul.indlist {
	list-style-type: none;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 15px;
}

h1.title {
	padding-bottom: 20px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
}

h1.titlecont {
	padding-top: 15px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	text-decoration: underline;
	color: #D3123A;
}

h1.titleab {
	padding-top: 15px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
}

.indlist li {
	padding-bottom: 25px;
	font-weight: 500;
	font-size: 25px;
}

#info {
	font-size: 30px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

#infowhy {
	font-size: 16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
}

.infoy {
	font-size: 14px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
}

/*body {
	margin: -8px;
}*/

/*
.navbar {
	float: right;
	height: 30px;
	position: relative;
	z-index: 1;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: 180px;
	top: 0px;
	left: 10%;
}

.blank{
	visibility: hidden;
	margin-left: 80px;
}

.logo {
	height: 60%;
	margin-left: 10px;
	margin-top: 8px;
}

/*will position after font is decided

/*.slogan {
	font-size: 80px;
	display: inline-block;
	z-index: 5;
	float: right;
	margin: center;
	color: white;
	font-family: Georgia;
	width: 1050px;
	text-align: center;
	text-shadow: 2px 2px black;
	margin-right: 110px;
	margin-top: 120px;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #333;
	vertical-align: auto;
	background: rgba(0, 0, 0, 0.0);
	text-shadow: 2px 2px black;
}

.header li {
	display: inline-block;
	float: left;
	padding-left: 0px;
	vertical-align: auto;
	font-size: 28px;
	font-family: Lato, Helvetica, Arial, sans-serif; font-weight: 500;
	padding-top: 7px;
}

.home {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 5px;
	text-decoration: none;
	vertical-align: auto;
}

.home:hover {
	text-decoration: underline;
}

.about {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 5px;
	text-decoration: none;
}

.about:hover {
	text-decoration: underline;
}

.donate {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 5px;
	text-decoration: none;
}

.donate:hover {
	text-decoration: underline;
}

.why {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 5px;
	text-decoration: none;
}

.why:hover {
	text-decoration: underline;
}


.social {
	float: right;
	width: 140px;
	margin-top: 10px;
	z-index: 1;
	margin-right: 25px;
	position: relative;
}

.twitter {
	width: 50px;
	float: left;
	padding: 0px 10px;
	z-index: 1;
}

.facebook {
	width: 50px;
	float: left;
	padding: 0px 10px;
	z-index: 1;
}

.header {
	width: 100%;
	height: 600px;
	margin: 0px;
	background-image: url(https://images.unsplash.com/uploads/1411040661312f50ec8e2/ded9d54e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9242bb2c1fcb8cb5eaa325b2652b12b2);
	background-size: cover;
}

.imghead {
	width: 100%;
	margin-right: -40px;
	margin-top: -800px;
	z-index: 0;
}

.center {
  text-align: center;
}

.content {
	width: 900px;
	height: 600px;
	text-align: center;
	margin: auto;
}

*/

/*--- donate page styling ---*/

.donate { 
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article.donate {
	height: 800px;
}

.donate h1 {
	font-size: 48px;
	font-weight: 900;
	color: #333;
	padding: 30px 0px;
}

.donate h2 {
	font-weight: 400;
	font-size: 36px;
	color: #222;
}

.donate p {
	font-size: 20px;
	color: #333;
	padding: 20px;
}

.donate a {
	text-decoration: none;
}

#donate-button {
	color: #EEE;
	background: linear-gradient(#d3113a 50%, #7d0a23);
	font-weight: 900;
	text-transform: uppercase;
	height: 30px;
	width: 150px;
	padding: 10px 0px 0px 0px;
	border-radius: 5px;
	margin: 20px auto;
} 

input {
	height: 30px;
	font-size: 16px;
	padding-left: 3px;
	display: block;
	margin: 5px auto;
}

img#open-hands {
	width: 300px;
	margin: 20px auto;
}

